body{
    margin: 0;
    background-color: hsl(271, 100%, 99%);
}

* {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    line-height: 1.25em;
}

a {
    color: hsl(271, 76%, 53%);
    text-decoration: none;
}
a:visited {
    /* blueviolet darkened */
    color: hsl(271, 65%, 35%);
}
a:hover, a:active {
    background-color: hsl(300, 100%, 94%);
    text-decoration: none;
}

#all {
    max-width: 90%;
    margin: auto;

    position: relative;
    min-height: 100vh;
}

#main {
    /* overshoot footer */
    padding-bottom: 5rem;
}

#content {
    padding-left: 1em;
    padding-right: 1em;
}

#content img {
    max-width: 100%;
}

/* https://www.w3schools.com/howto/howto_css_responsive_iframes.asp */
.youtube {
    max-width: 700px;
}
.maintain-aspect-ratio {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

img#banner {
    width: 100%;
    max-height: min(18em, 30vw);
    object-fit: cover;
    border-radius: 0 0 1em 1em;
}

nav ul {
    /* border-radius: 0.5em; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 1.2em;
    background-color: hsl(286, 29%, 80%);
}

nav ul li {float: left;}

nav ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    border-radius: 0.5em;
}

nav ul li strong {
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: rgb(61, 2, 71);
}

nav ul li a:hover:not([aria-current="page"]) {
    background-color: hsl(286, 30%, 75%);
}

[aria-current]:not([aria-current="false"]) {
    /* background-color: hsl(286, 30%, 70%); */
    background-color: hsl(286, 29%, 80%);
    font-weight: bold;
}

nav ul li.right {
    float: right;
}

img.social {
    height: 1.2em;
    width: 1.2em;
    display: block;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#copyright {
    text-align: right;
    padding-left: 1em;
    padding-right: 1em;
}

td {
    padding: 0.5em;
}

/* Color the + - diff markers */
.token.deleted {
    background-color: hsl(350deg 100% 70% / 30%);
}
.token.inserted {
    background-color: hsl(120deg 73% 75% / 35%);
}

/* Make the + and - characters unselectable for copy/paste */
.token.prefix.unchanged,
.token.prefix.inserted,
.token.prefix.deleted {
    -webkit-user-select: none;
    user-select: none;
}

/* Optional: full-width background color */
/*.token.inserted:not(.prefix),
.token.deleted:not(.prefix) {
    display: block;
}*/
